.inter-font {
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

h1 {
    font-family: "Inter", system-ui;

}

p, li {
        font-size: 0.5rem;
        font-family: "Inter", system-ui;
  }

h2 {
    font-family: "Inter", system-ui;
  }