.inter-font {
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

h1 {
    font-family: "Inter", system-ui;
}

h2 {
    font-family: "Inter", system-ui;
  }

p {
    font-size: 1rem;
    font-family: "Inter", system-ui;
  }

li {
    font-size: 1rem;
    font-family: "Inter", system-ui;
  }

table {
    font-family: "Inter", system-ui;
  }