<!DOCTYPE html>
<html lang="en-US"> 
<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="./../resources/favicon.svg" type="image/svg+xml">
</head>

<body>
    
<svg width="100%" height="300">
    <rect x="0" y="0" width="100%" height="300" stroke="black" stroke-width="6" fill="none" />
    
    <rect x="39%" width="300" height="300" stroke="black" stroke-width="6" fill="none" >
    <animate
      attributeName="rx"
      values="0;150;0"
      dur="10s"
      repeatCount="indefinite" />
  </rect>
    
    <circle cx= "40%" cy="150" r="150" fill="none" stroke="black" stroke-width="6" />
    <circle cx= "60%" cy="150" r="150" fill="none" stroke="black" stroke-width="6" />

    <polygon points="10,10 10,80 20,80 20,50 30,50 30,80 40,80 40,10 30,10 30,40 20,40 20,10" opacity="25%" />
    <polygon points="10,10 10,80 20,80 20,10"/>
    <polygon points="30,10 30,80 40,80 40,10"/>
    <polygon points="50,10 50,80 60,80 60,10" opacity="25%"/>

</svg>

<nav class="menu">
  <ul>
    <li class="menu"> 
        <a href = "../index.html">Home Page</a></li>
    <li class="menu">
        <a href = "./../views/two.html">Page Two</a></li>
    <li class="menu">
        <a href = "./../views/three.html">Page Three</a></li>
  </ul>
</nav>


<h1>Favorite Coding Resources</h1>

<table>
    <caption></caption>
    <thead>
        <tr>
            <th>Coding Resource</th>
            <th>Links</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>W3Schools</td>
            <td><a href="https://www.w3schools.com/">w3schools.com</a></td>
        </tr>
        <tr>
            <td>GeeksforGeeks</td>
            <td><a href="https://www.geeksforgeeks.org">geeksforgeeks.org</a></td>
        </tr>
        <tr>
            <td>Stack Overflow</td>
            <td><a href="https://stackoverflow.com/">stackoverflow.com</a></td>
        </tr>
        <tr>
            <td>Reddit</td>
            <td><a href="https://www.reddit.com/">reddit.com</a></td>"
        </tr>
    </tbody>
</table>
    
</body>
</html>
